#livestream, #videoSlideShow, #videoSlideShowAnimation {
    position: fixed;
    height: auto;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#imageSlideShow, #imageSlideShowAnimation {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin: auto;
}

.toolbar {
    display: none!important;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #1b1b1b;
}

