:root {
	--primary-bg: #222;
	--secondary-bg: #333;
	--table-uneven-bg: rgba(0,0,0,.1);
	--form-bg: #171717;
	--form-bg-disabled: #222;
	--form-divider-bg: #333;
	--searchbar-bg: #0f191c;

	--primary-fg: #fff;
	--secondary-fg: #ccc;

	--border: #444;
	--table-border: #333;
	--form-border: #444;
	--form-border-disabled: #282828;
	--searchbar-border: #0f191c;

	--form-arrow: url(data:image/gif;base64,R0lGODlhCwALAPEBAP///wAAAOrq6v///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);

	--box-shadow: #000;
}