:root {
	--primary-bg: #fff;
	--secondary-bg: #ccc;
	--table-uneven-bg: rgba(0,0,0,.05);
	--form-bg: #fff;
	--form-bg-disabled: #e9ecef;
	--form-divider-bg: #e9ecef;
	--searchbar-bg: #fff;

	--primary-fg: #000;
	--secondary-fg: #222;

	--border: #ccc;
	--table-border: #dee2e6;
	--form-border: #ced4da;
	--form-border-disabled: #ced4da;
	--searchbar-border: #fff;

	--form-arrow: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);

	--box-shadow: #222;
}