/* Main */
html {
	height: 100%;
	background-color: var(--primary-bg) !important;
}

body {
	margin: 0;
	font-family: Helvetica, Arial sans-serif !important;
	height: 100%;
	background-color: var(--primary-bg) !important;
	color: var(--secondary-fg) !important;
}

.upload {
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 52px);
	align-items: flex-start;
	flex-direction: column;
}

.uploadContainer {
	position: relative;
	margin: calc(20px + 0.75vw);
	width: 90%;
	height: 20%;
}

/* Navbar */
.topnav {
	overflow: hidden;
	background-color: #2d3436;
}

#mobileNavigatorContainer {
	position: absolute;
	margin-top: 6px;
	margin-left: 6px;
}

#mobileNavigator {
	cursor: pointer;
	display: none;
	color: #fff;
}

.dropdown-item.active {
	background-color: #c83f45 !important;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1rem;
	transition: background-color 0.25s;
}

.topnav a:hover {
	background-color: #c82333;
	color: white;
	text-decoration: none;
}

.topnav a.active {
	background-color: var(--primary-bg);
	color: var(--primary-fg);
}

.dropdown-item.active {
	color: #fff !important;
}


/* Images / Videos */
.gallery {
	margin: 5px;
	border: 1px solid var(--border);
	float: left;
	position: relative;
	box-shadow: 1px 1px 8px var(--box-shadow);
	width: calc(25% - 10px);
	height: 25vh;
	color: transparent;
}

@media only screen and (max-width: 600px) {
	.gallery {
		width: calc(33.3% - 10px);
	}
}

@media only screen and (max-width: 300px) {
	.gallery {
		width: calc(50% - 10px);
	}
}

.gallery img, .gallery video {
	z-index: 1;
	max-height: 85%;
	max-width: 85%;
	display: block;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.preview img, .preview video {
	max-height: 20%;
	max-width: 20%;
	display: block;
	margin: 0 auto;
	left: 20%;
	top: 20%;
}

.gallery .imgOverlay {
	opacity: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	font-size: 2.2vmin;
	text-align: center;
	height: calc(25vh - 2px);
	line-height: 25vh;
	background-color: rgba(10, 10, 10, 0.75);
	z-index: 2;
	transition: opacity 0.25s;
	position: relative;
}

.gallery:hover .imgOverlay, .gallery:hover #deleteGalleryElement {
	opacity: 1;
	z-index: 2;
}


/* Inputs/Buttons */
input[type=number] {
	-moz-appearance: textfield;
}

#saveDefaultConfig, #saveConfig, #deleteConfig, #goBack, #addElement {
	float: right;
	padding: 13px 16px;
	font-size: 1rem;
	border-radius: 0;
	margin-left: 5px;
	font-weight: bold;
	width: 75px;
}

#deleteGalleryElement {
	position: absolute;
	opacity: 0;
	top: 5px;
	right: 5px;
	transition: opacity 0.25s;
	font-weight: bold;
}

.form-control {
	background-color: var(--form-bg);
	border-color: var(--form-border);
	color: var(--secondary-fg);
}

.dropdown-selector {
	margin: 5px 0 5px 0;
	background-color: var(--form-bg);
	border-color: var(--form-border);
	color: var(--secondary-fg);
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: var(--form-arrow);
	background-repeat: no-repeat;
	background-position: right 15px center;
}

.form-control:focus {
	background-color: var(--form-bg);
	border-color: var(--form-border);
	color: var(--secondary-fg);
}

.form-control:disabled, .form-control[readonly] {
	background-color: var(--form-bg-disabled) !important;
	border-color: var(--form-border-disabled) !important;
}

.fileSelect {
	position: relative;
	width: 132px;
	height: 38px;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	color: #fff;
	background-color: #007bff;
	border-color: transparent;
	cursor: pointer;
	margin: 5px;
}

.fileSelect:hover {
	background-color: #0069d9;
}

#uploadBtn, #addLiveStreamBtn {
	width: 132px;
	margin: 5px;
}

#file-name {
	width: 150px;
	height: 38px;
	color: var(--primary-fg);
	position: absolute;
	line-height: 38px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 5px 0 5px 10px;
}

@media only screen and (max-width: 314px) {
	#file-name {
		position: relative;
	}
}

/* Tables */
.table {
	color: var(--primary-fg) !important;
}

.table td {
	border-top-color: var(--table-border) !important;
}

tr > td:last-child {
	border-right: none !important;
}

tr:nth-child(2n) > td {
	border-right: 1px solid var(--table-border);
}

tr:nth-child(2n+1) > td {
	border-right: 1px solid var(--table-border);
}

tr:last-child > td, tr:nth-last-child(2) > td {
	border-bottom: 1px solid var(--table-border);
}

#configFirstRow {
	border-top: 1px solid var(--table-border);
}

tr > td:nth-child(1) {
	width: 10%;
	vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(2n) {
	background-color: var(--table-uneven-bg) !important;
}

.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: transparent !important;
}

tr:first-child > td {
	border-top: none;
}

#displayGroupName {
	width: 25%;
	font-size: 22px;
	font-weight: bold;
}

#galleryElementName {
	width: 90%;
	font-size: 22px;
	font-weight: bold;
	word-break: break-all;
}

#displayGroupIpAddress {
	vertical-align: middle;
	font-size: calc(1.2vw + 4px);
	font-weight: bold;
}

#displayGroupEdit, #displayGroupDelete, #galleryElementEdit, #galleryElementDelete, #galleryElementFileSize {
	width: 1px;
}


@media only screen and (max-width: 800px) {
	#displayGroupEdit > form > input, #displayGroupDelete > form > input,
	#galleryElementEdit > form > input, #galleryElementDelete > form > input,
	#galleryElementFileSize, #displayGroupIpAddress,
	#galleryElementName, #displayGroupName {
		font-size: calc(1.2vw + 6px);
	}
}

@media only screen and (max-width: 850px) {
	.topnav a:not([href*="crash-logs"]):not(.dropdown-item) {
		display: none;
	}

	#mobileNavigator {
		display: block;
	}
}

@media only screen and (min-width: 851px) {
	#mobileNavigatorDropdown {
		display: none;
	}
}

#galleryElementFileSize {
	vertical-align: middle;
	text-align: center;
	font-weight: bolder;
}

.input-group {
	align-items: baseline;
}

.input-group-text {
	border-radius: .25rem 0 0 0.25rem;
	border-right: none;
	background-color: var(--form-divider-bg);
	border-color: var(--form-border);
	color: var(--primary-fg);
}

#selectedSlides {
	height: 200px;
}

.defaultConfigFirstCell {
	width: 213px !important;
}

@media only screen and (max-width: 728px) {
	.defaultConfigFirstCell {
		width: 10% !important;
	}
}

.animHeader {
	width: 30% !important;
}

.slideSelectorCell {
	vertical-align: middle !important;
}


/* Search */
.search {
	width: 30%;
	position: relative;
	display: flex;
	top: 8px;
	margin-right: 1vw;
	float: right;
}

.search.mobile {
	display: block;
	width: 100%;
	top: 4px;
	margin-right: 0;
	float: none;
	left: 3px;
}

.searchBar {
	width: 100%;
	border: 3px solid var(--searchbar-border);
	border-right: none;
	padding: 5px;
	height: 36px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: var(--primary-fg);
	background: var(--searchbar-bg);
}

.searchBar.mobile {
	width: 97%;
	height: 32px;
	border-radius: 5px;
}

.searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #00B4CC;
	background: #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.searchButton.mobile {
	display: none;
}

@media only screen and (max-width: 850px) {
	.search {
		margin-right: 15vw;
	}
}

@media only screen and (max-width: 350px) {
	.search {
		display: none;
	}
}

@media only screen and (min-width: 351px) {
	.search.mobile, .dropdown-divider.mobile {
		display: none;
	}
}


/* Checkbox */
#checkBoxHolderTV, #checkBoxHolderTS {
	padding: 0.5rem 0 0.2rem 2rem;
}


/* Dropdown */
.dropdown-menu {
	color: #fff !important;
}

.dropdown-toggle::after {
	display: none !important;
}

#settingsButton {
	float: right;
	margin-top: 11px;
	margin-right: 1rem;
	color: #fff;
	height: 32px;
}

option {
	padding: 5px;
}

#settingsDropdown, #mobileNavigatorDropdown {
	background: #2d3436;
}

.dropdown-divider {
	border-color: #515455 !important;
	border-right: 1px solid;
}

.dropdown-divider.mobile {
	position: relative;
	top: 6px;
}

.dropdown-item {
	padding: 5px 0 5px 0 !important;
}

/* Alert */
.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	margin: 0 1vw 15px 1vw;
}

.closebtn {
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 28px;
	cursor: pointer;
}


/* Misc */
:focus {
	outline: none !important;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary-bg) var(--form-bg);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: var(--form-bg);
}

::-webkit-scrollbar-thumb {
	background-color: var(--secondary-bg);
}